<mat-card>
  <mat-card-header>
    <mat-card-title>{{receta.nombre}}</mat-card-title>
  </mat-card-header>

  <img mat-card-image [src]="receta | imagen">

  <mat-card-subtitle><strong>Categoría: </strong>{{receta.categoria}}</mat-card-subtitle>
  <mat-card-subtitle><strong>Tiempo de preparación: </strong>{{receta.tiempoPreparacion}}</mat-card-subtitle>

  <mat-card-actions>
    <button mat-button
      color="warn"
      [routerLink]="['/recetas',receta.id]">
      Leer más...
    </button>
    <button mat-button
      color="info"
      [routerLink]="['/recetas/editar/',receta.id]">
      Editar
    </button>
    <button mat-icon-button
      color="accent"
      (click)="toggleFavorite()"
      aria-label="Favorite">
      <mat-icon>{{ isFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
